*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;

}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.5;

    background-color: black;
}

.show{
    display: flex !important;
}

/*----------------------
NAVBAR
------------------------*/

/*PC*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li > a{
    display: block;
    position: relative;
    padding: 20px 15px 10px 15px;
    text-decoration: none;

    color: white;
}

nav ul li .link::before{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: white;
}

nav ul li .link:hover::before{
    transform: scaleX(1);
}

nav .more{
    display: none;
}
nav .menu{
    position: absolute;
    display: none;
    flex-direction:column;
    min-width: 200px;
    margin-top: 52px;
    background-color: white;
}

nav .menu a {
    padding: 10px;
    text-decoration: none;

    color: black;
}

nav .menu a:hover {
    background-color: black;
    color: white;
}

/*MOBILE*/

nav .mobile{
    display: none;
    width: 100%;
}

nav .mobile .header{
    
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;

    background-color: black;
}

nav .mobile .header a{
    
    display: inline-flex;
    text-decoration: none;    
    padding: 5px;

    color:white;
    background-color: black;
}

nav .mobile .header #bmenu{
    border: none;
    background-color: transparent;
    cursor: pointer;

    color: white;
}


nav .mobile .links{
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 200 ;
}

nav .mobile .links a {
    font-size: 20px;
    display:  block;
    padding: 10px 20px;
    text-decoration: none;

    color: white;
    background-color: #221F35;
}

nav .mobile .links a:hover {
    color:black;
    background-color: white;
}

/*----------------------
    HEADER
------------------------*/
header{
    position: relative;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(../img/fondo\ halo\ transparente.png);
}

/*----------------------
SECTION VIDEOS
----------------------*/
#videos {
    align-content: center;
    padding: 0;
    background-color: #0b1149;
}

#current {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw; 
    height: 37vw;
    overflow: hidden;
    max-height: 730px;
    max-width: 1300px;
    z-index: 2;
}

#current iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#controls {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    display: flex;
    z-index: 1;
}

#prev,
#next {
    background-color: rgba(58, 58, 58, 0.7);
    border: none;
    height: 50%;
    width: 4%;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#videos #slider #controls #prev:hover,
#videos #slider #controls #next:hover {
  background-color: rgb(37, 37, 37, 0.9);
}


/*----------------------
POSTERS
----------------------*/
#free-games{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    text-align: center;
    background-color:#0b1149;
}
.Title{
    font-size: 3vw;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
#control-game{
    display: none;
}
.gamescontainer{
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #000216;
}
.poster{
      width: 10%;
    margin: 1%;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1vw;
    transition:all 400ms ease;
    box-shadow: 0px 1px 10px #84858f7e;
    background-color: #2344b1b7;
}
.poster:hover{
    transform:translateY(-3%);
    box-shadow: 1px 2px 20px #a2a4b9e7;
    background-color: #2344b1e3;
}
.poster a{
    text-decoration: none;
    color: aliceblue;
}
.poster img{
    max-width: 100%;
}
.poster h3{
    max-width: 100%;
    font-weight: 900;
    font-size: 1vw;
    justify-content: center;
    text-align: center;
    height: 1%;
}

#paid-games{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    text-align: center;
    background-color:#0b1149;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 750px) {
    nav .link-hide {
        display: none;
    }
    nav .more{
        display: flex;
    }

    header{
        height: 70vh;
    }

    #current{
        top: 40%;
    }
    #controls {
        top: 40%;
    }
}
@media screen and (max-width: 650px) {
    nav{
        width: 100%;
        padding: 0;
    }
    nav ul {
        display: none;
    }
    nav .mobile {
        display: block;
    }
    
    header{
        height: 50vh;
    }  

    #current{
        top: 30%;
    }
    #controls {
        top: 30%;
    }

}